# Ignore the .idea directory
.idea/

# Ignore the CI directory
.circleci/

# Ignore the .git directory
.git/

# Ignore TypeScript source and test files
src/

# Ignore the coverage directory
coverage/

# Ignore any configuration files
jest.config.js

# Ignore node_modules
node_modules/

# Ignore all markdown files (keep only README)
*.md
!README.md
